/*======================
MEDIAM LAYOUT : 1280px.
=======================*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.team-carousel.team-member-wrapper .owl-nav {
		display: none;
	}

	.home-3-service-area {
		margin-top: -132px;
	}
}


/*=====================
TABLET LAYOUT : 768px.
=====================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-area {
		padding: 5px 0;
	}

	.header-style2.header-area .header-bottom {
		padding: 5px 0;
	}

	#mobile-menu-wrap {
		display: block;
	}

	.bg-fixed {
		background-attachment: scroll;
	}

	.header-area nav {
		display: none;
	}

	.row.mobile-menu,
	.row.mobile-menu .col-md-12 {
		height: auto;
		min-height: 1;
	}

	.search-trigger {
		margin-bottom: 11px;
		margin-top: 12px;
		height: 40px;
	}

	.logo {
		margin-top: 4px;
		margin-bottom: 0;
	}

	.search-trigger i {
		left: 70px;
		position: absolute;
	}

	.top-search input.form-control {
		height: 75px;
		padding-right: 30px;
	}

	.search-close-trigger {
		margin-top: -26px;
		left: 20px;
	}

	.single-slide h1 {
		font-size: 50px;
	}

	.section-title h2 {
		font-size: 35px;
	}

	.section-padding {
		padding: 60px 0 75px 0;
	}

	.section-right-img::before {
		margin: -60px 0 -75px;
	}

	.section-right-img::after {
		bottom: -75px;
	}

	.single-count-box {
		height: 230px;
	}

	.single-work-item.work-item-large,
	.single-work-item.work-item-medium {
		height: 250px;
		width: 50%;
	}

	.single-service-item a {
		padding: 15px 0;
	}

	.item-box a {
		width: 100%;
	}

	.team-carousel.team-member-wrapper .owl-nav,
	.team-carousel2.team-member-wrapper .owl-nav,
	.home2.testimonial-area .owl-nav {
		display: none;
	}

	.given-feedback {
		padding: 0px 15px;
	}

	.given-feedback::before {
		right: 0;
		top: -15px;
	}

	.given-feedback::after {
		left: 15px;
		bottom: -30px;
	}

	#googleMap {
		height: 350px;
	}

	.cta-area {
		line-height: inherit;
	}

	.cta-area .ven-btn {
		margin-top: 0px;
		padding: 10px 25px;
	}
	.home2 .footer-menu li a {
		display: inline-block;
	}

	.banner-area {
		height: 350px;
	}

	.about-page .single-team-member {
		margin: 15px 0;
	}

	.blog-area .single-blog-wrapper:nth-child(2n) .blog-text-content {
		float: none;
	}

	.blog-thumbnail,
	.blog-text-content {
		width: 100%;
		float: none;
	}

	.single-blog-item {
		margin-bottom: 50px;
	}

	.blog-area .page-pagination {
		margin-top: 0;
	}

	.project-details {
		padding-right: 0;
		margin-bottom: 50px;
	}

	.single-blog-page .related-item h4 {
		font-size: 16px;
	}

	.single-service-short-details p {
		width: 50%;
		float: right;
	}

	.single-service-short-details {
		margin-top: 50px;
	}

	.single-project-nav {
		margin-bottom: 50px;
	}

	.home2 .work-item-large-height,
	.home2 .work-item-small {
		height: 250px;
		width: 50%;
	}

	.latest-work-area .text-right,
	.home2.latest-work-area .text-right {
		text-align: center;
	}

	.home2 .single-testimonial .given-feedback::before,
	.home2 .single-testimonial .given-feedback::after {
		height: 0;
		width: 0;
	}

	.single-post-item {
		margin: 15px 0;
	}

	.about-style-2 .section-right-img::after {
		background-image: none;
		width: 0;
	}

	.about-style-2 h4 {
		padding-left: 0;
	}

	.sidebar-wrapper .widget {
		width: 50%;
		float: right;
		margin-bottom: 0;
	}

	.sidebar-wrapper {
		overflow: hidden;
		margin-top: 60px;
	}

	.home-3-service-area {
		margin-top: -114px;
	}

	.load-more-item {
		height: 300px;
	}

	.single-service-2 .flex-viewport {
		width: 100%;
		float: none;
		margin-left: 0;
	}

	.single-project-page .single-service-2 .flex-viewport .slide_inner {
		padding-bottom: 50%;
	}

	.single-project-page .single-service-2 .flex-control-nav.flex-control-thumbs,
	.single-service-2 .flex-control-nav.flex-control-thumbs {
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-top: 20px;
	}


	.single-service-2 .flex-control-nav.flex-control-thumbs li {
		width: 32%;
		float: right;
		margin-bottom: 0;
		margin-left: 2%;
		padding-bottom: 16%;
	}

	.single-service-2 .flex-control-nav.flex-control-thumbs li:last-child {
		margin-left: 0;
	}

	.contact-2 .ventura-social {
		margin: 40px 0 20px;
	}

	.not-found-content {
		margin-top: 0;
	}
}

/*=====================
SMALL MOBILE LAYOUT : 320px.
=====================*/

@media only screen and (max-width: 767px) {
	.header-area {
		padding: 5px 0;
	}

	.header-style2.header-area .header-bottom {
		padding: 5px 0;
	}

	#mobile-menu-wrap {
		display: block;
	}

	.bg-fixed {
		background-attachment: scroll;
	}

	.row.mobile-menu,
	.row.mobile-menu .col-md-12 {
		height: auto;
		min-height: 1;
	}

	.header-area nav {
		display: none;
	}

	.search-trigger {
		margin-bottom: 11px;
		margin-top: 12px;
		height: 40px;
	}

	.logo {
		margin-top: 4px;
		margin-bottom: 0;
	}

	.search-trigger i {
		left: 70px;
		position: absolute;
	}

	.top-search input.form-control {
		height: 75px;
		padding-right: 30px;
	}

	.search-close-trigger {
		margin-top: -26px;
		left: 20px;
	}

	.slider-area div.owl-dots {
		display: none;
	}

	.single-slide h1 {
		font-size: 30px;
		line-height: 1.4
	}

	.single-slide h2 {
		font-size: 25px;
	}

	.section-right-img::before,
	.section-right-img::after {
		width: 0px;
		display: none;
	}

	.section-title {
		margin-bottom: 50px;
	}

	.section-title h2 {
		font-size: 30px;
	}

	.welcome-area-btn .ven-btn {
		padding: 10px 15px;
		font-size: 13px;
	}

	.single-count-box {
		height: 200px;
		width: 100%;
	}

	.single-work-item.work-item-large,
	.single-work-item.work-item-medium,
	.single-work-item.work-item-small,
	.our-all-projects .single-work-item.work-item-large,
	.our-all-projects .single-work-item.work-item-small,
	.home2 .work-item-large-height {
		width: 100%;
		height: 0;
		padding-bottom: 60%;
	}

	.item-box a {
		width: 100%;
	}

	.isotope-mobile-title {
		display: block;

	}

	.work-filter-btn {
		display: none;
	}

	.work-filter-btn li {
		display: block;
		margin-left: 0;
		margin-bottom: 15px;
	}

	.latest-work-area .text-right,
	.home2.latest-work-area .text-right {
		text-align: center;
	}

	.section-padding {
		padding: 60px 0 75px 0;
	}

	.team-carousel.team-member-wrapper .owl-nav,
	.team-carousel2.team-member-wrapper .owl-nav,
	.home2.testimonial-area .owl-nav {
		display: none;
	}

	.testimonial-left {
		margin-bottom: 30px;
		padding-bottom: 15px;
	}

	.testimonial-left::before {
		height: 2px;
		width: 100%;
		left: 0;
		bottom: 0;
		top: inherit;
	}

	.given-feedback {
		padding: 0;
	}

	.given-feedback::before,
	.itemquote::before {
		right: 15px;
		top: -23px;
	}

	.given-feedback::after {
		left: 15px;
		bottom: -30px;
	}

	.client-wrapper {
		padding: 0 15px;
	}

	.contact-with-us {
		position: relative;
		margin-bottom: 15px;
	}

	.cta-area {
		line-height: 1.8;
		text-align: center;
	}

	.cta-area .ven-btn {
		margin-top: 25px;
	}

	.footer-logo {
		display: none;
	}

	.footer-contact {
		text-align: right;
	}

	.footer-menu li a {
		padding: 10px 5px;
	}

	.banner-area h1 {
		font-size: 40px;
	}

	.banner-area {
		height: 350px;
	}

	.about-page .single-team-member {
		margin: 15px 0;
	}

	.single-related-item-box {
		margin-bottom: 20px;
	}

	.blog-area .single-blog-wrapper:nth-child(2n) .blog-text-content {
		float: none;
	}

	.blog-thumbnail,
	.blog-text-content {
		width: 100%;
		float: none;
	}

	.single-blog-item {
		margin-bottom: 50px;
	}

	.blog-area .page-pagination {
		margin-top: 0;
	}

	.blog-text-content {
		padding: 15px;
	}

	.blog-text-content h2 {
		font-size: 20px;
	}

	.blog-thumbnail {
		height: 0;
		padding-bottom: 60%;
	}

	.project-details {
		padding-right: 0;
		margin-bottom: 50px;
	}

	.single-project-page h1,
	.single-blog-page.single-project-page h1 {
		font-size: 27px;
	}

	.single-comment.user-replay {
		margin-right: 0;
	}

	.contact-left {
		margin-bottom: 50px;
	}

	#googleMap {
		height: 350px;
	}

	.service-box-2 .ven-btn {
		padding: 5px 13px;
	}

	.single-service-short-details {
		margin-top: 50px;
	}

	.single-project-nav {
		margin-bottom: 50px;
	}

	.header-top .ventura-social {
		text-align: center;
	}

	.header-top .contact-address {
		text-align: center;
		margin-top: 10px;
	}

	.home2.slider-area {
		height: 600px;
	}

	.home2 .slider-content p {
		font-size: 14px;
	}

	.home2 .single-slide h1 {
		font-size: 26px;
		margin-top: 150px;
	}

	.home2 .slider-content .ven-btn {
		margin-left: 10px;
		padding: 8px 10px;
	}

	.home2.counter-area {
		margin-top: 50px;
	}

	.home2 .count-box-wrapper {
		margin-top: 0;
	}

	.home2 .single-count-box {
		width: 100%;
		height: 200px;
	}
	.single-post-item {
		margin: 15px 0;
	}

	.home2 .single-testimonial .given-feedback::before,
	.home2 .single-testimonial .given-feedback::after {
		height: 0;
		width: 0;
	}
	.home2.footer-area .footer-widget {
		margin-bottom: 30px;
	}

	.home2 .footer-menu li a {
		display: inline-block;
	}

	.about-style-2 h4 {
		padding-left: 0;
	}

	.about-quote {
		padding: 10px 0;
	}

	.home2.footer-area .footer-widget.instagram-update {
		margin-bottom: 0;
	}

	.about-style-2.banner-area,
	.blog-style-2.banner-area,
	.blog-style-3.banner-area,
	.project-style-2.banner-area,
	.contact-2.banner-area,
	.team-2.banner-area {
		height: 450px;
	}

	.about-style-2.banner-area h1,
	.blog-style-2.banner-area h1,
	.blog-style-3.banner-area h1,
	.project-style-2.banner-area h1,
	.contact-2.banner-area h1,
	.team-2.banner-area h1 {
		margin: 150px 0 10px;
	}

	.post-content h4 {
		line-height: 1.6;
	}

	.blog-3-heading h3 {
		font-size: 16px;
	}

	.blog-3-heading span {
		font-size: 12px;
	}

	.blog-3-heading {
		bottom: -65px;
		width: 250px;
		margin-right: -125px;
		padding: 25px 10px;
	}

	.blog-3-thumb {
		padding-bottom: 80%;
	}

	.sidebar-wrapper {
		overflow: hidden;
		margin-top: 60px;
	}

	.home-3-service-area {
		margin-top: 55px;
	}

	.home2.latest-work-area .isotope-mobile-title {
		color: #ffffff;
		border-bottom: 1px solid #ffffff;
	}

	.load-more-item {
		height: 300px;
	}

	.single-blog-2 h1 {
		font-size: 30px;
	}

	.cta-area .ven-btn {
		padding: 10px 25px;
	}

	.itemquote {
		padding: 20px 15px;
	}

	.share-post .ventura-social li a {
		height: 30px;
		width: 30px;
		line-height: 30px;
	}
	.large-device-hide {
		display: block;
	}

	.small-device-hide {
		display: none;
	}

	.fev-box {
		margin-top: 25px;
	}

	.single-service-2 .flex-viewport {
		width: 100%;
		float: none;
		margin-left: 0;
	}

	.single-project-page .single-service-2 .flex-viewport .slide_inner {
		padding-bottom: 60%;
	}


	.single-project-page .single-service-2 .flex-control-nav.flex-control-thumbs,
	.single-service-2 .flex-control-nav.flex-control-thumbs {
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-top: 10px;
	}

	.single-service-2 .flex-control-nav.flex-control-thumbs li {
		width: 32%;
		float: right;
		margin-bottom: 0;
		margin-left: 2%;
		padding-bottom: 16%;
	}

	.single-service-2 .flex-control-nav.flex-control-thumbs li:last-child {
		margin-left: 0;
	}

	.slider-area .owl-nav {
		display: block;
	}

	.contact-2 .ventura-social {
		margin: 40px 0 20px;
	}

	.contact-2 #googleMap {
		margin-top: 50px;
	}

	.cta-area h2 {
		font-size: 22px;
		line-height: 1.6;
	}

	.not-found-content,
	.not-found-style-2 .not-found-content {
		width: 100%;
		margin-bottom: 20px;
		padding: 15px 10px 20px;
	}

	.not-found-style-2 .not-found-content {
		margin-top: 250px;
	}
}


/*========================
LARGE MOBILE LAYOUT: 480px.
=========================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.single-slide h1 {
		font-size: 35px;
		line-height: 1.4;
	}

	.single-slide h2 {
		font-size: 30px;
	}

	.section-title h2 {
		font-size: 35px;
	}

	.single-project-page h1,
	.single-blog-page.single-project-page h1 {
		font-size: 30px;
	}

	.single-count-box {
		height: 200px;
		width: 50%;
	}

	.share-post .ventura-social li a {
		height: 35px;
		width: 35px;
		line-height: 35px;
	}
}